%h1 Survey on web-application frameworks.
%p The following is a short questionnaire of how you would evaluate Ruby on Rails and Java Seam as an easy, visionary framework for small-scale web-development in a range of parameters.
%p Here is a list of the parameters I have chosen with explanation.
%table
  %tr
    %th Parameter	
    %th
  %tr
    %td Accessibility
    %td How easy is it to learn and use 
  %tr
    %td Prevalence/popularity	
    %td How widely used is it
  %tr
    %td Maturity
    %td For how long has it existed
  %tr
    %td Scalability
    %td Possible users in the application
  %tr
    %td Time consumption
    %td Hours spent developing – time to market
  %tr
    %td Code lines
    %td Amount of code lines
  %tr
    %td Reliability
    %td Frequency of crashes
 
Mark your assessment and press submit when you're done. 

- semantic_form_for :survey do |f|
  = f.inputs :rails_rating, :for => :answers
  = f.inputs :seam_rating, :for => :answers
  = f.input :winner
  = f.input :other_comments
  = f.commit_button 'submit'
